<header class="header">
  <div class="stars"></div>
  <mat-toolbar>
    <div class="logo-container">
      <img
        class="logo"
        src="/assets/images/dmtmoon2.png"
        alt="Dreams Made True LLC"
      />
      <div class="company-name-container">
        <h2 class="company-name">Eclipsis</h2>
      </div>
    </div>

    <!-- <span class="example-spacer"></span> -->
    <div class="menu" aria-label="Menu icon">
      <fa-icon class="icon" [icon]="faBars"></fa-icon>
    </div>
  </mat-toolbar>
</header>
