<header class="header">
  <div class="stars"></div>
  <mat-toolbar>
    <div class="logo-container">
      <img
        class="logo"
        src="/assets/images/dmtmoon2.png"
        alt="Dreams Made True LLC"
      />
    </div>

    <span class="example-spacer"></span>
    <div mat-icon class="menu" aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </div>
    <!-- <nav class="nav-bar">
      <ul class="link-list">
        <li class="link-item"><a [routerLink]="#">Home</a></li>
        <li class="link-item"><a [routerLink]="">About Us</a></li>
        <li class="link-item"><a href="#">Services</a></li>
        <li class="link-item"><a href="#">Our Work</a></li>
        <li class="link-item"><a href="#">Blog</a></li>
        <li class="link-item"><a class="btn-link">Get A Quote</a></li>
      </ul>
    </nav> -->
  </mat-toolbar>
</header>
